import * as S from './styles';
interface IProps {
  propExample: any;
}
const {{pascalCase name}} = ({ propExample, ...props }: IProps) => (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
);

export default {{pascalCase name}};
