import * as S from './styles';
//interface IProps {
//  propExample: string;
//}
const {{pascalCase name}} = ({ propExample='test', ...props }) => (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
);

export default {{pascalCase name}};
